h1 {
  text-align: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 610px;
  margin: auto;
}

.square {
  border: 2px solid black;
  height: 180px;
  width: 180px;
  text-align: center;

}


